<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    * {
            padding: 0px;
            margin: 0px;
        }

        #rege {
            position: relative;
            display: block;
            background-color: #4CAF50;
            color: white;
            margin-left: 45px;
            border: none;
            font-size: 19px;
            letter-spacing: 2px;
            cursor: pointer;
            width: 70%;
        }

        #rege:hover {
            opacity: 0.8;
        }
        .modal1 {
            display: block;
            position: fixed;
            z-index: 210;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.527);
            padding-top: 60px;
        }

        .boxlog {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            padding: 40px;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
        }

        .boxlog:nth-child(1) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            padding: 40px;
            background-image: linear-gradient(to right, rgb(2, 15, 14), rgb(0, 153, 255));
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            width: 330px;
            height: 400px;
            background: transparent;
        }

        h1 {
            text-align: center;
            margin: 0 0 30px;
            margin-top: -20px;
            padding: 0px;
            color: white;
        }

        .boxlog .inputbox {
            position: relative;
            width: 100%;
            background: transparent;
        }

        .boxlog .inputbox input {
            width: 100%;
            padding: 9px 0;
            font-size: 16px;
            color: white;
            margin-bottom: -5px;
            border: none;
            outline: none;
            background-color: transparent;
            border-bottom: 1px solid white;
        }

        .boxlog .inputbox label {
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            padding: 9px 0;
            font-size: 19px;
            pointer-events: none;
            transition: .5s;
        }

        .boxlog .inputbox input:focus~label,
        .boxlog .inputbox input:valid~label {
            top: -13px;
            left: 0;
            color: deepskyblue;
            font-size: 14px;
        }

        .boxlog button[type="submit"] {
            margin-top: 4px;
            margin-left: 35%;
            background: transparent;
            border: none;
            outline: none;
            color: white;
            background: transparent;
            /* padding: 5px 18px; */
            width: 140px;
            height: 50px;
            padding-bottom: 4px;
            border-radius: 14px;
            cursor: pointer;
            border: 1px solid rgba(255, 255, 255, 0.767);
        }

        .boxlog button[type="submit"]:hover {
            background: deepskyblue;
            transform: scale(1.2);
            transition: 0.5s;
            border: 1px solid deepskyblue;

        }

        .cancelbtn {
            margin-left: 90px;
            margin-top: 60px;
            width: 40%;
            padding: 10px 20px;
            font-size: 19px;
            color: white;
            letter-spacing: 2px;
            border-radius: 5px;
            border: none;
            background-color: #f81c1cbb;
        }

        .animate {
            animation: animatezoom 0.5s
        }

        @keyframes animatezoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }

        #reg1 {
            text-align: center;
            margin: 0 0 30px;
            padding: 0px;
            color: white;
        }

        .features {
            padding: 100px 0;
            background-image: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.6)), url(https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/banner21.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <div id="id01" class="modal1">
        <div class="boxlog">
            <h1>Login</h1>
            <form method="POST" action="/login" class="animate" id="myform">
                <div class="inputbox">
                    <input type="text" name="username" required>
                    <label> username </label>
                </div>
                <br>
                <div class="inputbox">
                    <input type="password" name="password" required><br><br>
                    <label>password</label>
                </div>
                <button type="submit" class="successbtn" id="rege">Log in</button>
                <br><br>
                <h5 style="color: white;">Don't have an account &nbsp;&nbsp;&nbsp;&nbsp;<a href="/register" style="color: lightcoral">Sign up</a></h5>
                </div>
            </form>
        </div>
    </div>
    
</body>

</html>